@using ImageGallery.HtmlHelpers
@model ImageGallery.Models.ImageListViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container row">
    @foreach (var item in Model.ImageNames)
    {
        <div class="col-md-5" style="margin: 20px; background-color: #e2c8c8">
            <img class="img-responsive img-rounded" src="~/Content/Images/@item" style="padding: 10px" />

            <div> @item</div>

        </div>
    }
</div>

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>